/* Font for Page Title */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

/* Reset default style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* MAIN HOME */

:root {
  --backgroundColor: #17181a;
  --backgroundColorFaded: #17181a52;
  --foregroundColor: #ffffff;
  --foregroundColorFaded: #ffffff49;
  --primaryAccentColor: #a7fc57;
  --secondaryAccentColor: #41483c;
  --secondaryAccentColorFaded: #41483c8f;
}

.bg-blured {
  backdrop-filter: blur(20px);
}

.stroked {
  border: 0.1px solid var(--foregroundColorFaded);
}

.primary-colored {
  color: var(--primaryAccentColor);
}

header {
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  margin-top: 15px;
  z-index: 10;
}

nav {
  display: flex;
  align-items: center;
  border: 1px solid;
  margin-left: auto;
  margin-right: auto;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 5px;
  border-radius: 30px;
  justify-content: space-between;
  background-color: var(--backgroundColorFaded);
}

#logo-container {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

#main-title {
  font-family: "Playfair Display", serif;
  font-size: x-large;
  margin: 10px;
}

.nav-image {
  width: 35px;
  height: 35px;
}

#nav-options a {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  color: var(--foregroundColor);
}

#nav-options a:hover:not(.selected-tab) {
  background-color: rgba(247, 247, 247, 0.216);
}

#nav-options a:active {
  background-color: var(--primaryAccentColor);
  color: var(--backgroundColor);
}

#nav-options .selected-tab {
  background-color: var(--primaryAccentColor);
  color: var(--backgroundColor);
}

#menu-button {
  display: none;
  cursor: pointer;
  border: none;
  background-color: #00000000;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--backgroundColor);
  color: var(--foregroundColor);
  transition-duration: 0.2s;
}

.margined-top {
  margin-top: 100px;
}

mark {
  background-color: var(--primaryAccentColor);
}

#thinned {
  font-weight: 200;
}

#home-hero-container {
  position: relative;
  text-align: center;
}

#home-hero-image {
  object-fit: cover;
  width: 100%;
  height: 700px;
}

.relative-position {
  position: relative;
}

#home-hero-title {
  position: absolute;
  text-align: left;
  bottom: 300px;
  left: 15%;
  font-size: 40px;
}

.common-cite {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.cite-anchor {
  color: var(--foregroundColor);
  text-decoration: none;
  background-color: #17181a;
  padding: 1px 8px;
  border-radius: 10px;
}

#home-location-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.home-location-item {
  display: flex;
  flex-direction: row;
  padding: 30px;
  align-items: center;
  border-top: 0.5px solid var(--foregroundColorFaded);
}

.home-location-image-container {
  position: relative;
}

.home-location-image-cite {
  position: absolute;
  bottom: 10px;
  left: 12%;
}

.home-location-thumbnail {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 30px;
}

.home-location-description {
  margin: 0px 30px;
}

.home-location-redirect-link {
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 30px;
  border: 1px solid var(--foregroundColor);
  color: var(--foregroundColor);
  display: inline-block;
  transition-duration: 0.2s;
}

.home-location-redirect-link:hover {
  background-color: var(--primaryAccentColor);
  color: var(--backgroundColor);
  border: 1px solid var(--primaryAccentColor);
  scale: 1.1;
}

#home-location-last-item {
  grid-column-start: 1;
  grid-column-end: 3;
}

#home-footer-container {
  position: relative;
}

#home-footer-text {
  position: absolute;
  width: 60%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -60%);
  font-size: x-large;
}

#home-generic-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

#home-footer-image-cite {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.footer-developer-details h3 {
  margin: 1rem 0rem;
}

.footer-developer-details p {
  line-height: 1.6;
}

#home-footer-rights-text {
  position: absolute;
  top: 530px;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  opacity: 0.7;
  margin-bottom: 30px;
  margin-top: 30px;
}

/* Added by Kishan */
#footer-rights-text {
  text-align: center;
  opacity: 0.7;
  padding-bottom: 1.5rem;
}

#footer-about-container {
  display: flex;
  margin: 10px 15px 0px;
  border-top: 0.5px solid var(--secondaryAccentColor);
  margin-bottom: 50px;
  padding-top: 2rem;
  /* Added by Kishan */
}

#about-icon {
  margin-top: 18px;
  margin-right: 20px;
}

@media screen and (max-width: 950px) {
  #menu-button {
    display: inline;
  }

  #nav-options {
    display: none;
    flex-direction: column;
    position: absolute;
    margin-left: -120px;
    background-color: var(--secondaryAccentColor);
    padding: 10px;
    border-radius: 20px;
    border: 0.5px solid var(--secondaryAccentColorFaded);
  }

  #menu-button:hover {
    background-color: var(--secondaryAccentColor);
    border-radius: 20px;
  }

  #menu-button:hover + #nav-options {
    display: flex;
  }

  #nav-options:hover {
    display: flex;
  }
}

@media screen and (max-width: 1500px) {
  #home-location-container {
    display: inline;
  }
}

/* =========================== */

/* MESAPOTAMIA BIBIN - START */
/* WRITE YOUR CSS HERE */

#meso-hero-container {
  display: flex;
  /* margin: 30px; */
  background-image: url("images/mesopotamia/meso-14.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  padding: 20px;
  padding-top: 100px;
  /* border-radius: 30px; */
}

#meso-hero-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

#meso-hero-grid-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#meso-hero-grid-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  row-gap: 10px;
  column-gap: 10px;
}

.meso-hero-grid-item {
  height: 25vh;
  width: 200px;
  overflow: hidden;
  position: relative;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  border: 1px solid rgba(255, 255, 255, 0.439);
}

.meso-hero-grid-item img {
  object-fit: cover;
  max-width: 100%;
}

#meso-hero-grid-container #item1 {
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 3;
}

#meso-hero-grid-container #item2 {
  border-top-right-radius: 50px;
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 4;
}

#meso-hero-grid-container #item3 {
  border-bottom-left-radius: 50px;
  grid-column-start: 1;
  grid-row-start: 3;
  grid-column-end: 2;
  grid-row-end: 5;
}

#meso-hero-grid-container #item4 {
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  grid-column-start: 2;
  grid-row-start: 4;
  grid-column-end: 3;
  grid-row-end: 6;
}

#meso-main-root {
  border-top: 0.5px solid var(--secondaryAccentColor);
  padding: 30px;
}

#meso-main-grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}

.meso-main-grid-item {
  background-color: var(--secondaryAccentColorFaded);
  overflow: hidden;
  position: relative;
  background-size: cover;
  background-position: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#meso-main-item1 {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  grid-column-start: 1;
  grid-row-start: 1;
  grid-column-end: 2;
  grid-row-end: 3;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  align-items: center;
  background-image: url("images/mesopotamia/meso-8.jpg");
  background-blend-mode: overlay;
}

#meso-main-item2 {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-column-end: 4;
  grid-row-end: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url("images/mesopotamia/meso-9.jpg");
  background-blend-mode: overlay;
}

#meso-main-item3 {
  border-top-right-radius: 50px;
  grid-column-start: 4;
  grid-row-start: 1;
  grid-column-end: 5;
  grid-row-end: 2;
  background-image: url("images/mesopotamia/meso-10.jpg");
  background-blend-mode: overlay;
  position: relative;
}

#meso-main-item3 img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#meso-main-item4 {
  grid-column-start: 2;
  grid-row-start: 2;
  grid-column-end: 3;
  grid-row-end: 3;
  background-image: url("images/mesopotamia/meso-11.jpg");
  background-blend-mode: overlay;
}

#meso-main-item5 {
  border-bottom-right-radius: 50px;
  grid-column-start: 3;
  grid-row-start: 2;
  grid-column-end: 5;
  grid-row-end: 3;
  background-image: url("images/mesopotamia/meso-12.jpg");
  background-blend-mode: overlay;
  padding: 20px;
}

#meso-main-item1 ol li a {
  text-decoration: none;
  color: var(--foregroundColor);
  padding: 8px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.2s;
  background-color: var(--backgroundColor);
}

#meso-main-item1 ol li {
  padding: 10px;
}

#meso-main-item1 ol li a:hover {
  text-decoration: none;
  color: var(--backgroundColor);
  background-color: var(--primaryAccentColor);
}

#meso-form-root {
  margin: 30px;
  border-radius: 30px;
  padding: 30px;
  background-color: var(--secondaryAccentColor);
}

#meso-form-container {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

#meso-form-container img {
  min-width: 30%;
  object-fit: cover;
  border-radius: 20px;
  margin-right: 20px;
}

.meso-input-container {
  margin-bottom: 20px;
}

.meso-input-container input {
  /* display: flex; */
  transition-duration: 0.2s;
}

.meso-input-container label {
  margin: 10px;
  display: block;
  margin-bottom: 5px;
}

.meso-input-container .display-flex {
  display: flex;
  align-items: center;
}

.meso-input-container input[type="text"],
.meso-input-container input[type="email"],
.meso-input-container input[type="tel"],
.meso-input-container input[type="number"],
.meso-input-container input[type="date"],
.meso-input-container select,
.meso-input-container textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

input {
  font-family: "Montserrat", sans-serif;
}

.meso-input-container input[type="radio"],
.meso-input-container input[type="checkbox"] {
  margin-right: 10px;
}

.meso-radio-container {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.meso-input-container textarea {
  resize: vertical;
}

#meso-form-container form {
  width: 50%;
  /* margin: 0 auto; */
  padding: 20px;
  background: var(--backgroundColorFaded);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}

.meso-input-container input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background: var(--primaryAccentColor);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 20px;
}

input[type="submit"]:hover {
  scale: 1.05;
}

@media screen and (max-width: 950px) {
  #meso-hero-left {
    height: 100%;
  }

  #meso-hero-container {
    flex-direction: column;
  }

  #meso-hero-grid-content {
    margin-top: 50px;
  }

  #meso-main-grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .meso-main-item4 img {
    /* min-height: 30vh;
    max-height: 30vh; */
    height: 10vw;
    /* width: 100%; */
  }

  #meso-main-item1 {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 3;
    grid-row-end: 2;
  }

  #meso-main-item2 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-column-end: 3;
    grid-row-end: 4;
  }

  #meso-main-item3 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    grid-column-start: 2;
    grid-row-start: 4;
    grid-column-end: 3;
    grid-row-end: 5;
  }

  #meso-main-item4 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-column-start: 1;
    grid-row-start: 2;
    grid-column-end: 2;
    grid-row-end: 3;
  }

  #meso-main-item5 {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    grid-column-start: 1;
    grid-row-start: 3;
    grid-column-end: 2;
    grid-row-end: 5;
  }

  #meso-form-container {
    flex-direction: column;
  }

  #meso-form-container img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: 20px;
  }

  #meso-form-container form {
    width: 100%;
  }
}

/* MESAPOTAMIA BIBIN - END */

/* =========================== */

/* EGYPT RAHUL - START */
main {
  padding: 20px;
}

#header-section {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

#header-image-container {
  position: relative;
  overflow: hidden;
}

#header-image {
  width: 100%;
  height: auto;
  display: block;
}

#header-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5em;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.header-cite {
  display: block;
  font-size: 0.9em;
  color: #666;
  margin-top: 5px;
}

.cite-anchor {
  color: #0066cc;
  text-decoration: none;
}

.cite-anchor:hover {
  text-decoration: underline;
}

.section-description {
  font-size: 1.1em;
  color: #fff;
  margin: 15px 0;
}

.grid-section .grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.grid-item {
  background-color: black;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.grid-item h3 {
text-align: center;
font-weight: bold;
}

.grid-item img {
  width: 100%;
  height: auto;
  display: block;
}

.grid-item .image-container {
  position:relative;
}

.grid-item .image-cite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.8em;
  color: #666;
}
.grid-item p {
color: white;
}

.flex-section .flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.flex-item {
  background-color:black;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5%;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
  flex: 1 1 calc(33.333% - 40px);
  overflow: hidden;
}
.flex-item p {
color: white;
}

.flex-item img {
  width: 100%;
  height: auto;
  display: block;
}

.flex-item .image-container {
  position: relative;
}

.flex-item .image-cite {
  position: absolute;
  bottom: 10px;
  right: 10px;
  padding: 5px;
  font-size: 0.8em;
  color: #666;
}

ul {
  padding: 0;
  list-style-type:disc;
  border: 1px solid #ddd;
  background-color: black;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

ul li {
  
  margin: 10px 0;
  padding: 10px;
  
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
  color: #fff;
}


@media (max-width: 992px) {
.flex-container {
  display: flex;
  flex-direction: column;
}
}


@media (max-width: 768px) {
.flex-container {
  display: flex;
  flex-direction: column;

}
}


/* EGYPT RAHUL - END */

/* =========================== */

/* GREECE SHANTHAKUMAR - START */
/* WRITE YOUR CSS HERE */
/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.hero, .intro, .card-section, .comment-section, .table-section {
    width: 80%;
    margin: 0 auto;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #006699;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.grid-item {
    width: 100%;
    height: 200px;
}

.intro {
    padding: 20px;
    text-align: left;
    /* background-color: #ffffff; */
    color: #006699;
}

.card-section {
    padding: 20px;
    background-color: #e0f7fa;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 2px solid #006699;
    border-radius: 10px;
    box-sizing: border-box;
}

.card {
    display: flex;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    width: 150px;
    height: auto;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
}

.card-content {
    padding: 20px;
    color: #333;
}

.card-content h2 {
    margin: 0 0 10px;
    color: #006699;
}

.comment-section {
    padding: 20px;
    background-color: #ffffff;
    text-align: left;
    margin-top: 20px;
    border-radius: 10px;
}

.comment-section h1 {
    color: #006699;
}

.comment-input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.submit-button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #006699;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #004466;
}

.table-section {
    padding: 20px;
    background-color: #e0f7fa;
    margin-top: 20px;
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #006699;
    color: white;
}

td {
    color: #333;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item {
        width: 100%;
        height: auto;
    }

    .card {
        flex-direction: column;
    }

    .card img {
        width: 100%;
        border-radius: 10px 10px 0 0;
    }

    .comment-input {
        width: 100%;
    }
}

@media (max-width: 480px) {
    body {
        font-size: 14px;
    }

    .grid-item {
        height: auto;
    }

    .card-content {
        padding: 15px;
    }

    .submit-button {
        width: 100%;
        padding: 10px;
    }

    table th, table td {
        padding: 8px;
    }
}

/* GREECE SHANTHAKUMAR - END */

/* =========================== */

/* CHINA GIHAN - START */
/* WRITE YOUR CSS HERE */

.main-china {
  padding: 3rem;
  font-size: 1.5rem;
}

.title-China-container {
  display: flex;
  align-items: center;
  padding: 3rem 0rem;
  margin-top: 3rem;
}

.title-china h2 {
  font-size: 3rem;
  font-weight: 700;
}

.title-china p {
  font-size: 1.3rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 1rem;
  padding-right: 1rem;
}

.china-image-container {
  width: 100%;
  text-align: center;
  padding: 15px;
  position: relative;
}

.china-responsive-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.china-image-container figcaption {
  position: absolute;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: rgba(2, 2, 2, 0.6);
  padding: 5px 10px;
  border-radius: 5px;
  margin: 0 1rem 1rem 0;
}

#section-1 p {
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: center;
}

.section-content {
  margin-bottom: 2rem;
  line-height: 1.5;
  text-align: justify;
}

.section-div {
  margin-bottom: 1rem;
}

#section-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.details-table {
  position: relative;
  width: 80%;
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 1.3rem;
}

.details-table-header {
  color: #000000;
  border: 2px solid #fff;
  padding: 15px 15px 15px 30px;
  background-color: #a7fc57;
  text-align: center;
}

.details-table-data {
  color: #fff;
  border: 2px solid #fff;
  padding: 15px 15px 15px 30px;
  text-align: left;
}

#section-5 h3 {
  font-size: 2.5rem;
  font-weight: 600;
  margin-bottom: 2rem;
  color: #a7fc57;
}

.china-map-container {
  margin-top: 1rem;
  width: 100%;
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
}

#section-6 h4 {
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.button-container {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 5px 30px;
  text-align: center;
  display: inline-block;
  background-color: #17181a;
  border: 0.5px solid white;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.like-btn:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.unlike-btn:hover {
  background-color: #c62828;
  transform: scale(1.05);
}

.button-container-2 {
  display: flex;
  gap: 20px;
  margin-top: 2rem;
}

.custom-btn:hover {
  background-color: #a7fc57;
  color: black;
  border: #a7fc57;
  transform: scale(1.05);
}

#section-7 {
  border: 2px solid white;
  margin-top: 3rem;
  border-radius: 20px;
}

#section-7 h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: #a7fc57;
  margin: 2rem;
  text-align: center;
}

.Bibliography-list {
  padding-left: 30px;
  list-style-type: square;
  margin: 30px 0;
  margin-left: 20px;
}

.Bibliography-item {
  margin-bottom: 15px;
}

@media screen and (max-width: 950px) {
  .main-china {
    margin: 1rem;
    padding: 1.5rem;
    font-size: 1.2rem;
  }

  .title-China-container {
    flex-direction: column;
    padding: 1.5rem 0rem;
  }

  .title-china h2 {
    font-size: 2rem;
    text-align: center;
  }

  .title-china p {
    font-size: 1.1rem;
    line-height: 1.2;
    text-align: center;
  }

  .china-image-container figcaption {
    font-size: 0.7rem;
    margin: 0 0.3rem 0.3rem 0;
  }

  #section-1 p {
    line-height: 1.2;
  }

  .section-content {
    line-height: 1.2;
  }

  .details-table {
    width: 100%;
    font-size: 1.2rem;
  }

  #section-5 h3 {
    font-size: 1.5rem;
  }

  .china-map-container {
    border: 0.5px solid black;    
  }
  .china-map-container iframe{
    height: 250px;
  }
  .button-container-2 {
    flex-direction: column;
  }

  #section-7 {
    border: 0.5px solid white;
  }

  #section-7 h3 {
    font-size: 1.5rem;
  }
}

/* CHINA GIHAN - END */

/* =========================== */

/* INDUS KISHAN - START */
/* WRITE YOUR CSS HERE */

/* Main div Styles */
.main-div {
  padding: 5rem;
}

.section {
  margin-bottom: 5rem;
}

/* Banner Image Container */
.banner-image-container {
  position: relative;
  width: 100%;
  height: 100vh;
}

.banner-img {
  height: 100vh;
  width: 100%;
  object-fit: cover;
}

.banner-image-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.title-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 4rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  z-index: 2;
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
}

.banner-image-container figcaption {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 1.2rem;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
}

/* Section Titles */
.section-title {
  color: #fff;
  font-size: 3rem;
  margin-bottom: 30px;
  text-align: center;
}

/* Section Text */
.section-text {
  font-size: 1.5rem;
  line-height: 1.6;
  text-align: center;
}

/* Image Container */
.image-container {
  width: 100%;
  text-align: center;
  margin: 3rem 0;
  border: 3px solid #fff;
  padding: 15px;
  border-radius: 12px;
  position: relative;
}

/* Responsive Image */
.responsive-img {
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

/* Culture & Society Image Grid */
#culture-society figure {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(440px, 1fr));
  gap: 10px;
}

#culture-society figure :nth-child(2) {
  height: 100%;
  object-fit: fill;
}

/* Quotes Section */
#quotes {
  padding-top: 1rem;
}

.quote {
  font-size: 1.8rem;
  line-height: 1.6;
  color: #fff;
  text-align: center;
  margin: 3rem 0;
  padding: 1.5rem 2rem;
  border-left: 5px solid #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  position: relative;
}

.quote:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 25px rgba(132, 129, 129, 0.1);
}

.quote cite {
  display: block;
  margin-top: 1rem;
  font-size: 1.8rem;
  color: #aaa;
  text-align: right;
}

/* History Section */
#history {
  padding-top: 1rem;
}

/* Timeline Section */
#timeline {
  margin-top: 2rem;
  padding: 1.5rem 1.5rem 0.5rem;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

#timeline:hover {
  transform: translateY(-10px);
}

/* Add border with animation on hover */
#timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 3px solid #ffffff;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
}

#timeline:hover::after {
  opacity: 1;
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.1);
}

/* Timeline List */
.timeline-list {
  list-style-type: square;
  margin: 30px 0;
  padding-left: 40px;
  font-size: 1.5rem;
}

.timeline-item {
  margin-bottom: 15px;
}

/* Major Cities Section */
#cities {
  padding-top: 1rem;
}

/* Table Styles */
.info-table {
  position: relative;
  width: 100%;
  border-collapse: collapse;
  margin: 3rem 0;
  font-size: 1.5rem;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.info-table:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 25px rgba(255, 255, 255, 0.1);
}

/* Table Header Styles */
.table-header {
  border: 2px solid #fff;
  padding: 1.5rem;
  background-color: #555;
  text-align: left;
  color: #fff;
}

/* Table Data Styles */
.table-data {
  border: 2px solid #fff;
  padding: 20px;
  text-align: left;
  color: #fff;
}

/* Artifacts Section */
#culture {
  padding-top: 1rem;
}

/* Economy & Trade Section */
#economy {
  padding-top: 1rem;
}

/* Figcaption Styles */
figcaption {
  position: absolute;
  bottom: 19px;
  right: 15px;
  font-size: 1.2em;
  color: #ccc;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 2;
  width: auto;
  max-width: 90%;
}

/* Responsive Style */
@media (max-width: 992px) {
  .banner-image-container {
    position: relative;
    width: 100%;
    height: 80vh;
  }

  .banner-img {
    height: 80vh;
    width: 100%;
    object-fit: cover;
  }
}

@media (max-width: 768px) {
  .main-div {
    padding: 4rem;
  }

  .banner-image-container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .banner-image-container figcaption {
    font-size: 1rem;
  }

  .banner-img {
    height: 500px;
    width: 100%;
    object-fit: cover;
  }

  .title-overlay {
    font-size: 3rem;
  }

  figcaption {
    font-size: 0.8rem;
    padding: 3px 5px;
    bottom: 19px;
    right: 15px;
  }

  .section-title {
    font-size: 2rem;
  }

  .section-text {
    font-size: 1rem;
    line-height: 1.6;
    text-align: center;
  }

  .timeline-list {
    font-size: 1rem;
    line-height: 1.5;
  }

  .info-table {
    font-size: 1rem;
    line-height: 1.5;
  }

  #culture-society figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

  .quote {
    font-size: 1rem;
  }

  .quote cite {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .main-div {
    padding: 2rem;
  }

  #culture-society figure {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  }
}

/* INDUS KISHAN - END */
